a {
  outline: 0;
}

.header {
  height: 100%;
  background: url("http://placehold.it/1920x1080") center no-repeat;
}

.header .row {
  padding-top: 30%;
  color: #fff;
}

.section .row {
  margin-top: 50px;
}

.separator {
  max-width: 100%;
  min-height: 50%;
  background-color: #ccc;
}

.separator .row {
  margin-top: 50px;
  padding-top: 50px;
  color: #fff;
}

.off-canvas-wrapper .off-canvas-wrapper-inner .off-canvas {
  background-color: #fff;
}

.off-canvas-wrapper .off-canvas-wrapper-inner .off-canvas i {
  color: #f7941d;
  font-size: 22px;
}

.off-canvas-wrapper .off-canvas-wrapper-inner .off-canvas ul li {
  border-bottom: 1px solid #ccc;
}

.off-canvas-wrapper .off-canvas-wrapper-inner .off-canvas ul li a {
  color: #000;
}

.off-canvas-wrapper .off-canvas-wrapper-inner .off-canvas ul li a:hover, .off-canvas-wrapper .off-canvas-wrapper-inner .off-canvas ul li a:active {
  color: #f7941d;
}

.hero {
  background: url("http://holidaybeachdanang.com/wp-content/uploads/2015/01/kham_pha_vinh_ha_long_a6.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  position: relative;
}

.hero .intro {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero .tb-search {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(60, 184, 120, 0.5);
}

.hero .intro h1 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.hero .intro p {
  color: #3cb878;
  font-size: 1.5rem;
  line-height: 1.75em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 40.063em) {
  .hero {
    height: 600px;
  }
  .hero h1 {
    padding-top: 4.5rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .hero p {
    text-align: center;
  }
}

.toggle-menu {
  position: relative;
  font-size: 2rem;
  z-index: 5000;
  color: #333;
  top: -0.5rem;
  left: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.toggle-menu:hover {
  transition: all 0.4s ease-in-out;
  color: gray;
}

.overlay-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 5rem 0 0;
  opacity: 0;
  list-style: none;
  background: url("http://www.nasa.gov/sites/default/files/cygx1_ill.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  transform: translateX(-100%) rotateX(40deg);
  transition: all 400ms cubic-bezier(1, -0.4, 0.44, 0.985);
}

.overlay-menu li {
  font-size: 1.5rem;
}

.overlay-menu a {
  display: block;
  color: #fff;
  font-weight: bold;
  height: 6.25rem;
  line-height: 6.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.overlay-menu a:hover {
  background-color: #0f88ff;
}

.overlay-menu.is-open ~ .toggle-menu {
  display: inline-block;
  transition: all 0.4s ease-in-out;
  transform: rotate(135deg);
  color: white;
}

a {
  outline: 0;
}

#header .navigation .top-bar {
  padding: 0;
}

#header .navigation .top-bar .top-bar-left ul {
  background: transparent;
}

#header .navigation .top-bar .top-bar-left li.menu-text {
  background-image: url(../img/top_triangle.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#header .navigation .top-bar .top-bar-left li.menu-text .brand {
  padding-left: 15px;
  padding-right: 40px;
}

#header .navigation .top-bar .top-bar-left li.menu-text .brand span {
  font-size: 1.3rem;
  line-height: 35px;
}

#header .navigation .top-bar .top-bar-right ul {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
}

#header .navigation .top-bar .top-bar-right ul li a {
  color: black;
  font-weight: 500;
  line-height: 30px;
}

#header .navigation .top-bar .top-bar-right ul li a:hover {
  color: #f7941d;
}

#header .navigation .top-bar .usericon-menu-item img {
  height: 40px;
}

#header .search-navigation .top-bar,
#header .search-navigation .top-bar-right > ul {
  background-color: #3cb878;
}

#header .search-navigation .top-bar {
  padding: 8px;
}

#header .search-navigation .top-bar .top-bar-right ul li.menu-text {
  padding-right: 0;
}

#header .search-navigation .top-bar .top-bar-right ul li.menu-text a span {
  font-size: 0.95rem;
}

#header .search-navigation .top-bar .top-bar-right ul li a {
  font-size: 0.8rem;
  padding-right: 10px;
  padding-left: 10px;
}

#header .search-navigation .top-bar .top-bar-left {
  padding: 8px;
}

#header .search-navigation .top-bar .top-bar-left .navigation-search-bar .button, #header .search-navigation .top-bar .top-bar-left .navigation-search-bar input[type="text"] {
  margin-bottom: 0;
  height: 40px;
}

#header .search-navigation .top-bar .top-bar-left .navigation-search-bar .button {
  background-color: rgba(247, 148, 29, 0);
  color: #fff;
  border: 2px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#header .search-navigation .top-bar .top-bar-left .navigation-search-bar .button:hover {
  background-color: rgba(204, 204, 204, 0.3);
}

#header .title-bar {
  background-color: white;
  padding: 0;
}

#header .title-bar .title-bar-left {
  padding: 3px 26px 3px 12px;
  background-image: url(../img/top_triangle.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#header .title-bar .title-bar-right {
  padding: 8px 10px 9px;
  background-color: #f7941d;
}

#header .title-bar .title-bar-right button {
  margin: 0;
}

#header .title-bar .brand::before,
#header .title-bar .brand::after {
  font-size: 1.1rem;
  line-height: 35px;
  font-weight: 400;
}

.brand::before {
  content: "triip";
  color: #fff;
  padding-right: 0;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: 35px;
}

.brand::after {
  content: "book";
  color: #000;
  padding-left: 0;
  margin-left: 0;
  font-size: 1.25rem;
  line-height: 35px;
}

.brand span:first-child {
  color: black;
}

.brand span:last-child {
  color: white;
}

.top-bar {
  background-color: white;
  color: black;
}

.usericon-menu-item {
  padding: 0;
}

.usericon-menu-item a {
  padding: 5px 0 !important;
  margin: 0 10px 0 0 !important;
}

.usericon-menu-item a img {
  border-radius: 50%;
}

.usericon-menu-item .icon-button::after {
  border: none !important;
}

.usericon-menu-item ul {
  padding-left: 20px;
}

#menu-user-dropdown {
  position: absolute;
  top: 40px;
  float: left;
}

.valign-center {
  display: table !important;
}

.valign-center span, .valign-center img, .valign-center ul {
  display: table-cell;
  vertical-align: middle;
}

.tb-centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.tb-footer-bottom {
  background-color: #333;
}

.tb-footer-bottom a {
  color: #717171;
  text-transform: uppercase;
  font-size: .95rem;
}

.tb-footer-bottom i {
  font-size: 45px;
}

.tb-footer-bottom .copyright {
  color: #717171;
  margin-bottom: 0;
  font-size: .8rem;
}

.tb-footer-bottom .tb-logo {
  background-color: #f7941d;
  padding: 8px;
}

.tb-footer-bottom .home-social {
  margin: 0;
}

.tb-footer-bottom .tb-links {
  margin-left: 0;
  margin-bottom: 8px;
}

.tb-footer-bottom ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.tb-footer-bottom ul li:first-child {
  padding-left: 0;
}

.tb-footer-bottom ul li a {
  font-weight: normal;
}

.tb-footer-bottom ul li a:hover, .tb-footer-bottom ul li a:active {
  color: #3cb878;
}

.tb-footer-bottom .row .large-8:before, .tb-footer-bottom .row .large-4:before {
  display: inline-block;
  vertical-align: middle;
}

.valign-center {
  display: table !important;
}

.valign-center span, .valign-center img, .valign-center ul {
  display: table-cell;
  vertical-align: middle;
}

.tb-centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.tb-search {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tb-search .button, .tb-search input[type="text"] {
  height: 40px;
}

.tb-search .button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tb-search button.dropdown {
  width: 100%;
  margin: 0;
}

.tb-search .button img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tb-search input[type="text"] {
  margin: 0;
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tb-search button[data-open="searchModal"] {
  width: 70%;
  margin: 0;
}

.tb-search .hide-for-large button.success {
  width: 100%;
}

a {
  outline: 0;
}

#loginModal, #registerModal, #registerWithEmailModal {
  padding-top: 64px;
  width: 350px;
  background-image: url("../img/modal-bg.png");
  background-repeat: no-repeat;
  background-position: right top;
  font-size: 0.9rem;
}

#loginModal .close-button, #registerModal .close-button, #registerWithEmailModal .close-button {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 9px;
  padding-right: 9px;
  width: auto;
}

#loginModal .row, #registerModal .row, #registerWithEmailModal .row {
  margin-top: 10px;
}

#loginModal button, #registerModal button, #registerWithEmailModal button {
  width: 100%;
  font-weight: bold;
}

#loginModal .columns, #registerModal .columns, #registerWithEmailModal .columns {
  margin-bottom: 10px;
}

#loginModal .login-button, #registerModal .login-button, #registerWithEmailModal .login-button {
  margin: 0;
}

#loginModal hr, #registerModal hr, #registerWithEmailModal hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tb-modal-logo {
  position: absolute;
  top: 0px;
  right: 60px;
}

.tb-modal-logo img {
  height: 60px;
}

#searchModal {
  height: 50%;
}

#searchModal .row {
  margin-top: 40px;
}

#searchModal .dropdown, #searchModal .button {
  width: 100%;
}

.tb-form input[type="checkbox"] {
  border: none;
}

.tb-form .forgot-pass {
  float: right;
}

.tb-form .button {
  text-transform: uppercase;
}

.valign-center {
  display: table !important;
}

.valign-center span, .valign-center img, .valign-center ul {
  display: table-cell;
  vertical-align: middle;
}

.tb-centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

a {
  outline: 0;
}

.tb-intro {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tb-intro h1 {
  font-size: 2.4rem;
  color: #3cb878;
  text-transform: uppercase;
}

.tb-intro p {
  font-size: 1.2rem;
  color: #f7941d;
}

#siteContent {
  padding-bottom: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.off-canvas-content {
  background-color: #e2e2e2;
}

#homeContent .columns {
  padding: 10px;
}

#homeContent .home-article {
  position: relative;
}

#homeContent .home-article img {
  border-image-width: 0;
}

#homeContent .home-article a {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 1.1rem;
  background-color: rgba(247, 148, 29, 0.7);
  padding: 8px 10px;
  width: 100%;
}

.tb-item-wrapper {
  padding-top: 40px;
}

.tb-item-wrapper .tb-item .tb-item-title-bar {
  position: relative;
  margin-bottom: 10px;
}

.tb-item-wrapper .tb-item .tb-item-title-bar span {
  vertical-align: bottom;
  display: inline-block;
  bottom: 0;
  padding: 0;
}

.tb-item-wrapper .tb-item .tb-item-title-bar .tb-item-title {
  text-transform: uppercase;
}

.tb-item-wrapper .tb-item .tb-item-title-bar .tb-item-address {
  font-style: italic;
}

.tb-item-wrapper .tb-item .tb-item-title-bar .tb-item-rating {
  width: 100%;
  float: right;
}

.tb-item-wrapper .tb-item .tb-item-detail {
  padding: 20px;
  background-color: #fff;
}

.tb-item-wrapper .tb-item .tb-item-detail .tb-item-action-bar {
  padding: 5px 0;
}

.tb-item-wrapper .tb-item .tb-item-detail .tb-item-action-bar ul {
  background-color: #fff;
}

.tb-item-wrapper .tb-item .tb-item-detail .tb-item-action-bar ul li {
  padding-right: 20px;
}

.tb-item-wrapper .tb-item .tb-item-detail .tb-item-action-bar .top-bar-right .button {
  margin-right: 0;
  margin-left: 20px;
}

.tb-item-wrapper .tb-item .tb-item-detail .tb-item-description p {
  font-size: 0.9rem;
}

.tb-item-wrapper .tb-item .tb-item-detail .tb-item-description button.button {
  float: right;
  margin-right: 0;
}

.tb-item-wrapper .tb-item .tb-item-sidebar .tb-item-map img {
  width: 100%;
}

.tb-item-wrapper .tb-item .tb-item-sidebar ul .menu-text {
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 5px;
}

.tb-item-comments {
  margin-top: 20px;
}

.tb-item-comments .tb-item-comment-edit-container {
  position: relative;
  background-color: #e2e2e2;
}

.tb-item-comments .tb-item-comment-edit-container .button {
  padding: 6px 20px;
}

.tb-item-comments .tb-item-comment-edit-container .circle-user-icon {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  float: left;
  position: absolute;
  left: 20px;
  top: 15px;
}

.tb-item-comments .tb-item-comment-edit-container .tb-item-comment-edit {
  position: relative;
  padding: 15px 10px 0px 30px;
  margin-left: 50px;
}

.tb-item-comments .tb-item-comment-edit-container .tb-item-comment-edit .fi-camera {
  position: absolute;
  right: 13px;
  top: 13px;
  float: right;
  color: #f7941d;
  font-size: 1.3rem;
}

.tb-item-comments .tb-item-comment-edit-container .tb-item-comment-edit .tb-item-comment-textarea-container {
  margin-right: 30px;
}

.tb-item-comments .tb-item-comment-edit-container .tb-item-comment-edit .tb-item-comment-textarea-container textarea {
  width: 100%;
  margin-right: 20px !important;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.tb-item-comments .tb-item-comment-edit-container .tb-item-comment-edit .button {
  float: right;
  margin-right: 0;
  margin-bottom: 10px;
}

.tb-item-comments .tb-item-comment {
  margin-top: 10px;
  position: relative;
  background-color: #e2e2e2;
}

.tb-item-comments .tb-item-comment .circle-user-icon {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  float: left;
  left: 20px;
  top: 0px;
}

.tb-item-comments .tb-item-comment .circle-user-icon.show-for-small {
  width: 20px;
}

.tb-item-comments .tb-item-comment .tb-item-comment-container {
  margin-right: 40px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 80px;
  background-color: #fff;
}

.tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-meta span {
  font-size: 0.8rem;
  line-height: 37px;
}

.tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-meta ul {
  float: right;
}

.tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-meta ul li {
  padding-right: 20px;
}

.tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-meta ul li i {
  color: #f7941d;
  font-size: 1.3rem;
}

.tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-meta ul li a {
  padding: 5px;
}

.tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-meta ul li span, .tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-meta ul li a {
  font-size: .8rem;
}

.tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-content {
  font-size: 0.95rem;
}

@media only screen and (max-width: 40em) {
  .tb-item-comments .tb-item-comment-edit-container .circle-user-icon {
    width: 40px;
    left: 10px;
  }
  .tb-item-comments .tb-item-comment-edit-container .tb-item-comment-edit {
    padding-left: 15px;
    margin-left: 40px;
  }
  .tb-item-comments .tb-item-comment .circle-user-icon {
    width: 40px;
    left: 10px;
  }
  .tb-item-comments .tb-item-comment .tb-item-comment-container {
    margin-left: 60px;
  }
  .tb-item-comments .tb-item-comment .tb-item-comment-container .tb-item-comment-meta ul {
    float: left;
  }
}

.tb-suggestions {
  margin-top: 15px;
}

.tb-suggestions .tb-suggestion {
  background-color: #fff;
  margin-top: 15px;
}

.tb-suggestions .tb-suggestion .tb-suggestion-featured {
  width: 100%;
}

.tb-suggestions .tb-suggestion .tb-suggestion-title {
  text-transform: uppercase;
  font-size: 0.95rem;
}

.tb-suggestions .tb-suggestion ul li {
  padding-right: 20px;
}

.tb-suggestions .tb-suggestion ul li i {
  color: #f7941d;
  font-size: 1.2rem;
}

.tb-suggestions .tb-suggestion .tb-suggestion-info {
  margin-top: 10px;
}

.tb-suggestions .tb-suggestion .tb-suggestion-meta {
  margin-top: 10px;
  font-size: 0.8rem;
}

a {
  outline: 0;
}

.tb-articles {
  margin-top: 0px;
}

.tb-articles > .row {
  margin-top: 50px;
}

.tb-articles p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tb-articles .tb-article {
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
}

.tb-articles .tb-article .tb-article-info {
  padding: 0px 10px 5px 10px;
}

.tb-articles .tb-article .tb-article-date {
  background-color: rgba(255, 255, 255, 0.8);
  top: 10px;
  right: 10px;
  position: absolute;
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
}

.tb-articles .tb-article .tb-article-date .wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tb-articles .tb-article .tb-article-date .wrapper span:nth-child(3) {
  font-weight: bold;
  color: #f7941d;
  font-size: 0.9rem;
}

.tb-articles .tb-article .tb-article-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.0rem;
}

.tb-articles .tb-article .tb-article-excerpt {
  font-size: 0.95rem;
}

.tb-articles .tb-article .tb-article-author {
  font-weight: bold;
  font-size: 0.9rem;
}

.tb-articles .tb-article .tb-article-author::before {
  content: "by ";
  font-weight: normal;
}

a {
  outline: 0;
}

#searchContent .tb-search {
  padding-top: 10px;
  padding-bottom: 10px;
}

#searchContent .search-keyword {
  color: #f7941d;
}

#searchContent h5 {
  text-align: center;
  margin-bottom: 50px;
}

#searchContent .tabs li.is-active a {
  background-color: #3cb878;
  color: #fff;
}

#searchContent .tabs li i::after {
  content: "\00a0";
}

#searchContent .tabs li a {
  color: #999;
  font-size: .95rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

#searchContent .tabs li a.active, #searchContent .tabs li a:hover, #searchContent .tabs li a.button:hover {
  background-color: #3cb878;
  color: #fff;
}

#searchContent .tabs li a.button {
  margin-bottom: 0px;
  height: 60px;
  background-color: #fff;
}

#searchContent .tabs.hide-for-large {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#searchContent .tabs-content[data-tabs-content="tbLocationTypeTabs"] {
  margin-top: 40px;
}

#searchContent .tabs-content[data-tabs-content="tbLocationTypeTabs"] .tabs-panel .tabs-content {
  border: none;
}

#searchContent .tb-search-results .tb-search-result {
  border-top: 1px solid #999;
  padding-bottom: 20px;
  padding-top: 10px;
}

#searchContent .tb-search-results .tb-search-result .tb-search-result-title-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

#searchContent .tb-search-results .tb-search-result .tb-search-result-title-bar .result-position {
  min-width: 30px;
  min-height: 30px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  background-color: #f7941d;
  font-size: 1rem;
  margin-right: 10px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 7px;
}

#searchContent .tb-search-results .tb-search-result .tb-search-result-title-bar .result-title {
  font-size: 1.2rem;
}

#searchContent .tb-search-results .tb-search-result .tb-search-result-title-bar .result-rating {
  float: right;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 0px;
}

#searchContent .tb-search-results .tb-search-result .tb-search-result-title-bar .result-rating::after {
  content: "\f005";
  font-family: FontAwesome;
  font-style: normal;
  font-size: 2rem;
  color: #f7941d;
  margin-left: 10px;
}

#searchContent .tb-search-results .tb-search-result p {
  margin-bottom: 3px;
}

#searchContent .tb-search-results .tb-search-result p.result-address {
  font-style: italic;
  font-weight: lighter;
  color: #666;
}

#searchContent .tb-search-results .tb-search-result p.result-tips-label {
  font-weight: bold;
}

#searchContent .tb-search-results .tb-search-result p.result-tips-label::after {
  content: ":";
}

#searchContent .tb-search-results .tb-search-result p.result-tip-content {
  font-size: .9rem;
}

#searchContent .tb-search-results .tb-search-result p.result-read-more-text {
  font-style: italic;
  font-size: 0.9rem;
  font-weight: bold;
  color: #f7941d;
}

#searchContent .tb-search-results .view-more {
  width: 100%;
  font-size: .9rem;
  text-transform: uppercase;
  font-weight: normal;
}

#searchContent .toggle-map {
  background-color: #fff;
  margin-bottom: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #999;
  margin-left: auto;
  margin-right: auto;
}

#searchContent .toggle-map:hover, #searchContent .toggle-map:active {
  color: #fff;
  background-color: #3cb878;
}

a {
  outline: 0;
}

#planingContent {
  background-color: #fff;
}

#planingContent #map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

#planingContent > .row > .columns {
  margin-top: 20px;
}

#planingContent .plan-title {
  margin-top: 10px;
  margin-bottom: 0;
  color: #f7941d;
}

#planingContent .plan-meta-bar {
  margin-bottom: 15px;
}

#planingContent .plan-meta-bar span {
  margin-right: 20px;
  font-size: 0.9rem;
}

#planingContent .plan-duration::after {
  content: " days";
}

#planingContent .plan-buddy {
  height: 48px;
  width: 48px;
  padding: 5px;
}

#planingContent .participants-label {
  font-size: 0.85rem;
  margin-bottom: 0;
  font-weight: bold;
}

#planingContent .notifications-board-label {
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

#planingContent .plan-description {
  font-size: 0.9rem;
}

#planingContent .plan-notifications {
  height: 450px;
  background-color: #ccc;
}

#planingContent .plan-notifications .plan-notifications-board {
  padding: 5px;
  height: 400px;
  overflow-y: scroll;
}

#planingContent .plan-notifications .plan-notifications-board ul {
  list-style-type: none;
  margin: 5px;
}

#planingContent .plan-notifications .plan-notifications-board ul li {
  font-size: 0.9rem;
}

#planingContent .plan-notifications .plan-notifications-board .buddy-name {
  color: #f7941d;
  font-weight: bold;
}

#planingContent .plan-notifications .plan-notifications-board .buddy-name::after {
  content: ": ";
}

#planingContent .plan-notifications .plan-notification-edit-box {
  padding: 3px;
  padding-bottom: 20px;
  background-color: #fff;
}

#planingContent .plan-notifications .plan-notification-edit-box .button,
#planingContent .plan-notifications .plan-notification-edit-box input,
#planingContent .plan-notifications .plan-notification-edit-box img {
  margin: 0;
  height: 34px;
}

#planingContent .plan-notifications .plan-notification-edit-box input {
  float: left;
  width: 80%;
  border: none;
  box-shadow: none;
  font-size: 0.9rem;
}

#planingContent .plan-notifications .plan-notification-edit-box img {
  float: left;
}

#planingContent .plan-notifications .plan-notification-edit-box .button {
  float: right;
}

#planingContent .plan-part {
  margin-top: 0px;
  overflow-y: scroll;
  max-height: 1200px;
}

#planingContent .plan-part article {
  position: relative;
  border: 1px solid #999;
}

#planingContent .plan-part article .plan-item-featured {
  position: relative;
}

#planingContent .plan-part article .plan-item-featured .plan-item-time {
  position: absolute;
  top: 20px;
  width: 100%;
  background-color: #3cb878;
}

#planingContent .plan-part article .plan-item-featured .plan-item-time span {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
}

#planingContent .plan-part article .plan-item-info {
  position: relative;
  padding-left: 10px;
}

#planingContent .plan-part article .plan-item-info .plan-item-title {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #3cb878;
  margin-bottom: 0;
}

#planingContent .plan-part article .plan-item-info .plan-item-description {
  font-size: .95rem;
}

#planingContent .plan-part article .plan-item-modify {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

#planingContent .plan-part article .plan-item-modify a {
  color: #999;
}

#planingContent .plan-part article .plan-item-modify a .fa-times {
  color: #f7941d;
}

#planingContent .plan-part .plan-part-title-bar {
  margin-bottom: 20px;
  position: relative;
}

#planingContent .plan-part .plan-part-title-bar h3 {
  text-transform: uppercase;
  color: #f7941d;
  margin-bottom: 0;
}

#planingContent .plan-part .plan-part-title-bar span {
  font-size: 1rem;
  padding-right: 20px;
}

#planingContent .plan-part .plan-part-title-bar .plan-part-modify a {
  color: #999;
  margin-left: 5px;
}

#planingContent .plan-part .plan-part-title-bar .plan-part-modify a i {
  font-size: 1.2rem;
}

#planingContent .plan-part .plan-item-seperator {
  padding: 20px 0 20px 20px;
  position: relative;
  z-index: 3;
}

#planingContent .plan-part .plan-item-seperator i {
  color: #fff;
  font-size: 1.5rem;
  background-color: #3cb878;
  padding: 10px;
  border-radius: 50%;
}

#planingContent .plan-part .plan-item-seperator span {
  margin-left: 15px;
  font-size: 1rem;
}

#planingContent .plan-part .plan-part-creating-bar {
  margin-top: 20px;
}

#planingContent .plan-part .plan-part-creating-bar .button {
  margin-bottom: 0;
  margin-right: 0;
}

#planingContent .plan-part .plan-part-creating-bar .button:last-child {
  float: right;
}

.orbit .orbit-container {
  position: relative;
}

.orbit .orbit-container .orbit-previous, .orbit .orbit-container .orbit-next {
  top: 38px;
  position: absolute;
  background-color: transparent;
  color: #f7941d;
  font-size: 2rem;
}

.vertical-line {
  border-left: 1px solid #999;
  height: 84px;
  width: 1px;
  top: 0;
  left: 40px;
  position: absolute;
  z-index: -1;
}
