.tb-submit-btn {
    background: none;
    border: none;
    float: none;
    text-align: left;
    padding: 0;
}

#loginModal .button, #registerModal .button, #registerWithEmailModal .button {
    font-weight: bold;
    width: 100%;
}