<div class="search-navigation">
  <!-- TitleBar for mobile screen-->
  <div class="title-bar show-for-small-only">
    <div class="title-bar-left">
      <a href="#menu" class="brand title-bar-title"></a>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
    </div>
  </div>
  <!-- top-bar for desktop screen -->
  <div class="top-bar hide-for-small-only">
    <div class="top-bar-left">
      <div class="row collapse navigation-search-bar">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Find Stuff">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="alert button expand">Search</a>
        </div>
      </div>

    </div>
    <div class="top-bar-right">
      <ul class="medium-horizontal menu hide-for-small-only main-menu">
        <li class="">
          <a href="index.html" class="brand"></a>
        </li>
        <li><a href="#">News</a></li>
        <li><a href="#">Planing</a></li>
        <li><a href="#" data-open="registerModal">Sign Up</a></li>
        <li><a href="#" data-open="loginModal">Login</a></li>
      </ul>
    </div>
  </div>
</div>
