<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-centered large-centered medium-12 large-12 columns">
      <h1>Plan Your Trip And Travel</h1>
      <p>with triipbook</p>
    </div>
  </div>
  <div class="tb-search">
    <div class="row">
      <!-- large screen search-bar -->
      <div class="small-10 small-centered text-center columns show-for-large row large-collapse">
        <div class="small-12 medium-3 columns">
          <button class="dropdown button" data-toggle="search-dropdown">Ho Chi Minh</button>
        </div>
        <div class="small-12 medium-7 columns">
          <input type="text" class="tb-search-input" placeholder="I'm looking for ... ">
        </div>
        <div class="small-12 medium-2 columns">
          <a class="success button" href="search.html">Search</a>
        </div>
      </div>
      <!-- small and medium screen search-bar -->
      <div class="small-12 medium-8 small-centered text-center columns hide-for-large row small-collapse">
        <div class="small-9 columns">
          <input type="text" input="text" data-open="searchModal">
        </div>
        <div class="small-3 columns">
          <a class="button success" data-open="searchModal">Search</a>
        </div>
      </div>
    </div>

    <!-- search-dropdown -->
    <div class="dropdown-pane" id="search-dropdown" data-dropdown data-auto-focus="true">
      <ul class="menu dropdown vertical" data-toggle="search-dropdown">
        <li><a href="#">Lorem ipsum dolor sit 1a</a></li>
        <li><a href="#">Lorem ipsum dolor sit 2</a></li>
        <li><a href="#">Lorem ipsum dolor sit 3</a></li>
        <li><a href="#">Lorem ipsum dolor sit 4</a></li>
        <li><a href="#">Lorem ipsum dolor sit 5</a></li>
      </ul>
    </div>

  </div>
</section>
