<div class="navigation">
  <!-- TitleBar for mobile screen-->
  <div class="title-bar show-for-small-only">
    <div class="title-bar-left">
      <a href="#menu" class="brand title-bar-title"></a>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
    </div>
  </div>
  <!-- top-bar for desktop screen -->
  <div class="top-bar hide-for-small-only">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <a href="index.html" class="brand"></a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="medium-horizontal menu hide-for-small-only main-menu">
        <li><a href="#">News</a></li>
        <li><a href="#">Planing</a></li>
        <li><a href="#" data-open="registerModal">Sign Up</a></li>
        <li><a href="#" data-open="loginModal">Login</a></li>
      </ul>
    </div>
  </div>
</div>
