<?php else: ?>
<div class="search-navigation">
    <!-- TitleBar for mobile screen-->
    <div class="title-bar show-for-small-only">
        <div class="title-bar-left">
            <a href="<?php echo JURI::base(); ?>" class="brand title-bar-title"></a>
        </div>
        <div class="title-bar-right">
            <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
        </div>
    </div>
    <!-- top-bar for desktop screen -->
    <div class="top-bar hide-for-small-only">
        <div class="top-bar-left">
            <div class="row collapse navigation-search-bar">
                <div class="large-8 small-9 columns">
                    <input type="text" placeholder="Find Stuff">
                </div>
                <div class="large-4 small-3 columns">
                    <a href="#" class="alert button expand">Search</a>
                </div>
            </div>

        </div>
        <div class="top-bar-right">
            <ul class="medium-horizontal menu hide-for-small-only main-menu dropdown" data-dropdown-menu>
                <li class="">
                    <a href="<?php echo JURI::base(); ?>" class="brand"></a>
                </li>
                <li>
                    <a href="<?php echo JURI::base() . "news" ?>"><?php echo JText::_('TPL_TB_NEWS'); ?></a>
                </li>

                <? if (!$user->guest): ?>
                <li><a href="#"><?php echo JText::_('TPL_TB_PLANING'); ?></a></li>
                <li class="username-menu-item">
                    <a href="#"><?php echo $user->username; ?></a>
                </li>
                <li class="usericon-menu-item">
                    <a href="#" class="icon-button" data-toggle="menu-user-dropdown"
                       aria-expanded="false" aria-controls="drop1">
                        <img src="http://dummyimage.com/100/39b549/fff" alt="" class="">
                    </a>
                    <ul class="menu">
                        <li><a href="#">Your trips</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Account Info</a></li>
                        <li><a href="#">Account Settings</a></li>
                        <li><a href="index.html">Logout</a></li>
                    </ul>
                </li>
                <? else: ?>
                <li><a href="#"
                       data-open="registerModal"><?php echo JText::_('TPL_TB_SIGNUP'); ?></a>
                </li>
                <li><a href="#"
                       data-open="loginModal"><?php echo JText::_('TPL_TB_SIGNIN'); ?></a></li>
                <? endif; ?>


            </ul>
        </div>
    </div>
</div>
<?php endif; ?>